@model IEnumerable<Client.Models.Project>

	@{
	Layout = "_LayoutDashboard";
	}

	<div class="container mt-3">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title text-center">Project List</h1>
				<div class="table-responsive">
					<div>
						<table class="table align-items-center" id="tableProject">
							<thead class="thead-light text-center">
								<tr>
									<th scope="col">No</th>
									<th scope="col">Project Name</th>
									<th scope="col">Description</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<button type="button" class="btn btn-primary" onclick=addProject() data-toggle="modal"
					data-target="#addProject">Add
					Project</button>
			</div>
		</div>
	</div>

	<!-- ModalCreate -->
	<div class="modal fade" id="addProject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				@Html.AntiForgeryToken()
				<form class="needs-validation" novalidate>
					<div class="modal-body" id="modalCreate">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	@section Scripts{
		<script src="~/lib/dashboard/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="~/lib/dashboard/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
		<script src="~/lib/dashboard/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
		<script src="~/lib/dashboard/vendor/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="~/js/project.js"></script>
	}