@model IEnumerable<Client.Models.Category>

<h1>Category List</h1>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Category Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(model => item.CategoryId)</td>
				
				<td>@Html.DisplayFor(model => item.Name)</td>
				<td>
					<a class="btn btn-warning" asp-route-id="@item.CategoryId" asp-action="Edit">Edit</a>
					<a class="btn btn-danger" asp-route-id="@item.CategoryId" asp-action="Delete">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<a class="btn btn-primary" asp-action="Create" asp-controller="Category">Add Category</a>