@model IEnumerable<Client.Models.TaskVM>

	@{
	Layout = "_LayoutDashboard";
	ViewData["Title"] = "Task";
	}
	@using Microsoft.AspNetCore.Http
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

	<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("UserId")" id="sessionUserId" />

	<div class="container mt-3">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title text-center">Task List</h1>
				<div class="table-responsive">
					<div>
						<table class="table align-items-center" id="tableTask">
							<thead class="thead-light text-center">
								<tr>
									<th scope="col">No.</th>
									<th scope="col">Task Urgency</th>
									<th scope="col">Name</th>
									<th scope="col">Description</th>
									<th scope="col">Project Name</th>
									<th scope="col">Due Date</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	@section Scripts{
	<script src="~/lib/dashboard/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/lib/dashboard/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	@Html.AntiForgeryToken()
	<script src="~/js/Task.js"></script>
	}